.list-post-page {
  margin: space(5) 0;

  h1 {
    text-align: center;
    font-family: $martel;
    font-size: 2.5em;
    margin-bottom: space(5);
    line-height: 1.2;
  }
}

.list-work-page {
  margin: space(5) 0;

  h1 {
    text-align: center;
    font-family: $martel;
    font-size: 2.5em;
    margin-bottom: space(5);
    line-height: 1.2;
  }
}